body {
    margin: 0;
}

#navbar {
    font-family:"Faster One";
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    max-height: 10%;
    min-height: 40px;
}

.player-card{
    display: flex;
    flex-direction: column;
    border: solid;
    border-radius: 25px;
    margin:5px;
    align-items: center;
    font-size: 25px;
}
.player-image{
    height:400px;
    width: 300px;
    align-self:center;
}
#searchBar{
    display: flex;
    justify-content: center;
}
.search{
    margin: 5px;
}
.player-name{
margin-right: 6px;
}
#player-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#detail-img{
    width: 600px;
    height: 800px;
    border-bottom-left-radius:25px;
    border-bottom-right-radius:25px;
    align-self: center;
}
#detail-card{
    display: flex;
    flex-direction: column;
    border: solid;
    border-radius: 25px;
    margin:3px;
    font-size: 25px;
}
#detail-card div{
    display: flex;
    flex-wrap: wrap;
}
#back-button{
    font-size: 20px;
    text-decoration: none;
    color: blue;
    border: solid 2px;

    
}
#back-button:hover{
    background-color: lightblue;
}
#player-detail-view{
    display: flex;
    justify-content: center;
}
.details-button{
    width: 300px;
    font-size: 20px;
    text-decoration: none;
    color: blue;

    border-bottom-left-radius:25px;
    border-bottom-right-radius:25px;
    text-align: center;
}
.details-button:hover{
    background-color: lightblue;
}
.detail-text{
    margin-left: 15px;
}